.header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 3rem;
}

.nav__menu{
    align-items: center;
    color: var(--gray);
    display: flex;
}


.nav__item{
    margin-left: 1rem;
    transition: all 0.3s linear;
}

.nav__item:hover{
    color: var(--white);
}

.underline{
    display: inline-block;
    position: relative;
}

.underline::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background: var(--white);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.6s ease-out;
}

.underline:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.intro{
    align-items: center;
    background-image: url('../../images/bg-curvy-desktop.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.intro__img{
    width: 40%;
}

.intro__texts{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.intro__title{
    font-size: 2rem;
    font-weight: 600;
    padding: 2rem 0;
    width: 50%;
}

.intro__text{
    color: var(--gray);
    line-height: 1.5rem;
    width: 50%;
}

.intro__button{
    background: var(--blue);
    border-radius: 2rem;
    cursor: pointer;
    margin-top: 1rem;
    padding: 1rem 5rem;
    transition: all 0.2s linear;
}

.intro__button:hover{
    background: var(--cyan);
}

.points{
    background: var(--dark-blue-2);
    align-items: center;
    display: flex;
    justify-content:center;
    text-align: center;
}

.points__list{
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem 0;
    margin: 0 auto;
}

.point{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 5rem 0 1rem 0;
}

.point__title{
    font-weight: 600;
    padding: 1rem 0;
}

.point__text{
    color: var(--gray);
    width: 50%;
}

.productive{
    align-items: center;
    background: var(--dark-blue-2);
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}

.productive__img{
    width: 40%;
}

.productive__texts{
    padding-left: 3rem;
    width: 40%;
}

.productive__title{
    font-weight: 600;
    font-size: 2rem;
    padding-bottom: 1rem;
}

.productive__text{
    color: var(--gray);
    line-height: 1.5rem;
    padding-bottom: 1rem;
}

.row__bottom{
    align-items: center;
    display: flex;
}

.productive__button{
    color: var(--cyan);
    cursor: pointer;
    padding-right: 0.3rem;
    transition: all 0.3s linear;
}

.productive__button:hover{
    color: var(--white);
}

.testimonials{
    align-items: center;
    background: var(--dark-blue-2);
    display: flex;
    justify-content: space-between;
    padding: 3rem 5rem 20rem 5rem
}

.testimonial{
    background: var(--dark-blue-4);
    border-radius: 5px;
    color: var(--gray);
    padding: 1.5rem 1rem;
    width:350px;
}

.profile{
    align-items: center;
    display: flex;
    margin-top: 1.5rem;
    margin-left: 10px;
}

.profile__img{
    border-radius: 50%;
    margin-right: 15px;
    width: 50px;
}

.testimonial__text{
    color: var(--gray);
    line-height: 1.5rem;
    font-weight: 500;
    margin-left: 10px;
    width: 90%;
}

.profile__name{
    color: var(--white);
    font-weight: 600;
    margin-bottom: 5px;
}

.promotion{
    align-items: center;
    background: var(--dark-blue-2);
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin: 0 auto;
    text-align: center;
    width: 800px;
    position: absolute;
    transform: translate(300px, -150px);

    -webkit-box-shadow: 3px 4px 7px 4px rgba(0,0,0,0.13); 
    box-shadow: 3px 4px 7px 4px rgba(0,0,0,0.13);
}

.promotion__title{
    font-weight: 600;
    font-size: 2rem;
    padding: 2rem 1.5rem;
    text-align: center;
}

.promotion__text{
    color: var(--gray);
    line-height: 1.5rem;
    padding-bottom: 1.5rem;
    margin: 0 5rem;
}

.form{
    padding-bottom: 2rem;
}

.form__input{
    border-radius: 2rem;
    color: black;
    height: 40px;
    width: 400px;
    margin-right: 2rem;
    outline: none;
}

.form__input::placeholder{
    padding-left: 1rem;
}

.form__button{
    background: var(--blue);
    border-radius: 2rem;
    color: var(--white);
    cursor: pointer;
    font-weight: 500;
    height: 40px;
    padding: 0 1rem;
    transition: all 0.3s linear;
}

.form__button:hover{
    background: var(--cyan);
}

.footer{
    background: var(--dark-blue-3);
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding: 8rem 1rem 2rem 3rem;
}

.columns{
    display: flex;
    padding: 5rem 0;
}

.column{
    line-height: 2rem;
    margin-right: 8rem;
}

.column__link{
    transition: all 0.3s linear;
}

.column__link:hover{
    color: var(--white);
    font-weight: 600;
}

.row{
    display: flex;
}

.row__contact{
    align-items: center;
    display: flex;
}


.icon{
    margin-right: 1rem;
}

.redes{
    display: flex;
}

.icon__red{
    border: 1px solid var(--white);
    border-radius: 50%;
    font-size: 1.2rem;
    margin-right: 1rem;
    padding: 0.4rem;
    transition: all 0.3s linear;
}

.icon__red:hover{
    border: 1px solid var(--cyan);
    color: var(--cyan);
}

.facebook{
    padding: 0.4rem 0.65rem;
}

.instagram{
    padding: 0.4rem 0.5rem;
}


.attribution{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.attribution a{
    color: var(--blue);
    transition: all 0.3s linear;
}

.attribution a:hover{
    color: var(--white);
}
